# Markdown
## Markdown
### Markdown
#### Markdown

**Python**

*Python*

## Insert image
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT2SYQzKh19n2C5VP1AkWYgk17RtmiilqMr_MEBSN9T85k3S77i)

# Insert site
.[site](.https://www.gitam.edu/)

# PYTHON
- python is esay to learn 
- python is more popular and demand
- python used in datascience

In [3]:
print("HELLO WORLD!")

HELLO WORLD!

# Assignment

In [4]:
x=10
y=18
print(x,y)

10 18

In [5]:
a=b=c=10
print(a,b,c)

10 10 10

In [6]:
x=10
y=6
z=x+y
print(z)

16

In [7]:
a1,b1,c1=100,200,300
print(a1,b1,c1)

100 200 300

# Data types and conversions
- int
- string
- float
- complex
- boolean

In [8]:
x=10
y=12.56
z=3+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
#boolean
x=4
y=10
x<y

True

In [10]:
#string
s1="abc"
s2="xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [11]:
a=123
print(type(a))

<class 'int'>

In [13]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f=float(i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
c=complex(3,5)
print(c)

(3+5j)

# Reading a value---input function

In [17]:
s=input("enter name:")
print(s)
print(type(s))

enter name:siri
siri
<class 'str'>

In [1]:
a=int(input("enter age:"))
print(a)
print(type(a))

enter age:19
19
<class 'int'>

# Operators
- operator is a symbol to perform specific kind of operations

# Arithematic operator
- +
- -
- *
- /
- %
- **
- //

In [2]:
n=123
print(n+100)
print(n-10)
print(n*10)
print(n/10)
print(n**10)
print(n//10)
print(n%10)

223
113
1230
12.3
792594609605189126649
12
3

# PRECEDENDE OF ARITHEMATIC OPERATORS
- PARANTHESIS
- POWER
- MULTIPLICATION
- DIVISION
- addtion

In [3]:
x=1+2**3/4+5
print(x)

8.0

In [5]:
x=1+2**3/4*5
print(x)

11.0

In [7]:
x=(1*2)+2**2/2*2
print(x)

6.0

# Relational operators
- ==,!=,<,>,<=,>=

In [8]:
a=10
a1=a>15
print(a1)

False

# Logical operators
- and,or,not

In [9]:
x=20
y=30
print(x>=10 and x<=20)
print(x>=10 or x>=20)
print(not x)

True
True
False

 # Membership operators

In [10]:
str1="abc"
print('a' in str1)
print('a' not in str1)

True
False

# Condtional statements
## if- else statements
#### syntax:
##### if condition:
> statement<br>
##### else:
> statements

In [13]:
# even or odd
n = int(input("enter a number"))
if n%2==0:
    print("even number")
else:
    print("odd number")

enter a number20
even number

In [14]:
# perfect 
n = int(input("enter a number"))
if n%3==0 and n%5==0:
    print("it is divisible by 3 and 5")
else:
    print(" it is not divisible by 3 and 5")

enter a number15
it is divisible by 3 and 5

In [15]:
n = int(input("enter a number"))
if n>=0:
    print("positive")
elif n<0:
    print("negative")
else:
    print("zero")

enter a number4
positive

In [17]:
year = int(input("enter a year"))
if year%4==0:
    print("leap year")
else:
    print("not a leap year")

enter a year2019
not a leap year