# Basic function

In [1]:
li=[1,2,3,4]
print(max(li))
print(min(li))
print(sum(li)/len(li))# average
print(sum(li))

4
1
2.5
10

#function to return large number from list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,3,87,32,21,36]
print(largenumber(li))
print(genericlarge(li,3))

In [5]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[19,1,3,87,32,21,36]
print(smallnumber(li))
print(genericsmall(li,2))

1
3

# tuples
- values separeated by comma enclosed by parenthesis()
- values cannot be changed i.e immutable
# difference b/w list and tuple
- list can be modified
- list used to access means modify,add,delete,update
- tuple cannot modified
- used to access data only

In [6]:
t1 =(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

# dictionaries:
- work on concept of set unique data
- dictionary contains keys and values
- each key separted from its values with colon ':'
- each key and values separted by comma,
- dictionary enclosed by {}

In [20]:
d1 ={"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
print(d1)
d1["email"]="python@gmail.com"
d1

{'name': 'gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}

{'name': 'gitam', 'email': 'python@gmail.com', 'address': 'hyderabad'}

In [22]:
d1 ={"name":"gitam","email":"gitam@gmail.com","address":"hyderabad","course":"gitam"}
del d1["name"]
d1
d1["course"]="python"
d1
del d1["email"]
d1

{'address': 'hyderabad', 'course': 'python'}

In [23]:
d1.values()

dict_values(['hyderabad', 'python'])

In [24]:
d1.items()

dict_items([('address', 'hyderabad'), ('course', 'python')])

In [25]:
d1.keys()

dict_keys(['address', 'course'])

# Strings:

In [26]:
s1 = 'python'
print(s1)
print(type(s1))

python
<class 'str'>

In [30]:
s1 = 'python'
print(s1[0])
print(s1[5])
print(s1[2:])
print(s1[::-1])
print(s1[-1::-1])

p
n
thon
nohtyp
nohtyp

In [35]:
s1 = 'python'
print(s1[len(s1)//2])
print(s1[0:6:2])
print(s1[0:6:3])

h
pto
ph

In [38]:
# using function reverse of string
def reverseofstring(str):
    return(str[::-1])
reverseofstring("programming")

'gnimmargorp'

In [58]:
#palindrome
def reverseofstring(str):
    if str==str[::-1]:
            return True
    else:
            return False
print(reverseofstring("program"))
print(reverseofstring("ganag"))

False
True

# String built in functions
- upper()
- lower()

In [60]:
s ="python"
print(s1.upper())
print(s1.lower())
print(s1.isupper())
print(s1.islower())
print(s1.isnumeric())
print(s1.isspace())

PYTHON
python
False
True
False
False

In [62]:
s= " "
print(s.isspace())

True

In [63]:
s="si ri"
print(s.isspace())

False

# String methods
- join()
- split()
- replace()

In [66]:
s="python"
print(" ".join(s))
print(",".join(s))
print("s".join(s))
s1="siri"
print("_".join(s1))

p y t h o n
p,y,t,h,o,n
psystshsosn
s_i_r_i

In [69]:
s="mamidi shirisha reddy"
print(s.split())
print(s.split('-'))

['mamidi', 'shirisha', 'reddy']
['mamidi shirisha reddy']

In [70]:
s1="python is easy"
li= list(s)
li

['m',
 'a',
 'm',
 'i',
 'd',
 'i',
 ' ',
 's',
 'h',
 'i',
 'r',
 'i',
 's',
 'h',
 'a',
 ' ',
 'r',
 'e',
 'd',
 'd',
 'y']

In [72]:
s1=" python is easy to learn"
print(s1.replace("easy","very easy"))

 python is very easy to learn

In [81]:
marks ={'siri':[80,85,90],'varsha':[86,90,95]}
marks["siri"]

[80, 85, 90]

In [82]:
li=marks["siri"]
li[1]

85

In [83]:
li=marks["varsha"]
li[0]

86

In [84]:
li=marks["varsha"]
li[::-1]

[95, 90, 86]

In [86]:
x=2
while x<=10:
    print(x)
    x=x+1

2
3
4
5
6
7
8
9
10

In [ ]:
x=0
while F